<web-app>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FirewallServlet</servlet-name>
<servlet-class>FirewallServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FirewallServlet</servlet-name>
<url-pattern>/checkURL</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DashboardServlet</servlet-name>
<servlet-class>DashboardServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DashboardServlet</servlet-name>
<url-pattern>/dashboard</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteLogServlet</servlet-name>
    <servlet-class>DeleteLogServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteLogServlet</servlet-name>
    <url-pattern>/deleteLog</url-pattern>
</servlet-mapping>

</web-app>